body {
  --notion-max-width: 800px;
  --fg-color: rgba(255, 255, 255, 0.9);
  --fg-color-0: var(--fg-color);
  --fg-color-1: var(--fg-color);
  --fg-color-2: var(--fg-color);
  --fg-color-3: var(--fg-color);
  --fg-color-4: var(--fg-color);
  --fg-color-5: rgba(255, 255, 255, 0.7);
  --fg-color-6: #fff;
  --fg-color-icon: #fff;

  --bg-color: #272727;
  --bg-color-0: rgb(71, 76, 80);
  --bg-color-1: rgb(63, 68, 71);
  --bg-color-2: rgba(135, 131, 120, 0.15);

  --notion-red: rgb(255, 115, 105);
  --notion-pink: rgb(226, 85, 161);
  --notion-blue: rgb(82, 156, 202);
  --notion-purple: rgb(154, 109, 215);
  --notion-teal: rgb(77, 171, 154);
  --notion-yellow: rgb(255, 220, 73);
  --notion-orange: rgb(255, 163, 68);
  --notion-brown: rgb(147, 114, 100);
  --notion-gray: rgba(151, 154, 155, 0.95);
  --notion-red_background: rgb(89, 65, 65);
  --notion-pink_background: rgb(83, 59, 76);
  --notion-blue_background: rgb(54, 73, 84);
  --notion-purple_background: rgb(68, 63, 87);
  --notion-teal_background: rgb(53, 76, 75);
  --notion-yellow_background: rgb(89, 86, 59);
  --notion-orange_background: rgb(89, 74, 58);
  --notion-brown_background: rgb(67, 64, 64);
  --notion-gray_background: rgb(69, 75, 78);
  --notion-red_background_co: rgba(89, 65, 65, 0.3);
  --notion-pink_background_co: rgba(83, 59, 76, 0.3);
  --notion-blue_background_co: rgba(120, 162, 187, 0.3);
  --notion-purple_background_co: rgba(68, 63, 87, 0.3);
  --notion-teal_background_co: rgba(53, 76, 75, 0.3);
  --notion-yellow_background_co: rgba(89, 86, 59, 0.3);
  --notion-orange_background_co: rgba(89, 74, 58, 0.3);
  --notion-brown_background_co: rgba(67, 64, 64, 0.3);
  --notion-gray_background_co: rgba(69, 75, 78, 0.3);
  background-color: var(--bg-color-zero);
}

.notion-page-cover-wrapper img {
  border-radius: 65% 35% 65% 35%;
}

.notion-page {
  gap: 16px;
}

.index-page-body {
  --notion-max-width: 1600px;

  & .notion-gallery-grid {
    gap: 2vmin;
  }

  & .notion-gallery-grid-size-large {
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  }
}

.notion-page-icon {
  border-radius: 50% !important;
  border: 2px solid var(--bg-color) !important;
}

.notion-gallery-grid .notion-page-icon-inline {
  display: none
}

.notion-collection-card-property:has(.notion-property:empty) {
  display: none;
}

.notion-collection-card-property:first-child {
  font-size: 1.5rem;
  font-weight: 500
}

.notion-collection-card-property:not(:first-child) {
  font-size: 0.9rem;
}

@media (min-width: 900px) {
  .notion-collection-card-cover {
    aspect-ratio: 16 / 9;
    height: auto;
  }
}

.notion-collection-card-cover:empty {
  /* TODO*/
  background: url(/empty-cover-c.png) no-repeat center center;
  background-size: cover;
}

.notion-title {
  text-align: center;
  margin-bottom: 0;
}

h1.notion-title,
.notion-title > b {
  font-weight: 900;
}

/*.notion-page-cover-wrapper,*/
/*.notion-page-cover-wrapper span,*/
.notion-page-cover-wrapper img {
  max-width: 1200px;
  object-fit: cover;
  object-position: center;
}

.notion-page-title-text {
  white-space: break-spaces;
  max-height: 2lh;
}

.notion-collection-row-value {
  text-align: right;
}

.notion-collection-column-title {
  display: none !important;
}

.notion-collection-row {
  border-color: var(--bg-color-1);
}

.notion-header {
  background: transparent;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, .1);
  backdrop-filter: saturate(180%) blur(20px)
}

@keyframes shimmer {
  0%   { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

@keyframes pulse {
  0%, 100% { filter: brightness(0.9); }
  50%      { filter: brightness(1.1); }
}

.notion-collection-card-cover,
.notion-page-cover,
.notion-page-icon {
  background: linear-gradient(
      45deg,
      #c7c7c7 25%,
      #e2e2e2 37%,
      #c7c7c7 63%
  );
  background-size: 200% 100%;

  animation: shimmer 2s linear infinite;
}

.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}

.breadcrumb .title {
  visibility: hidden;
}

.breadcrumb .title::before {
  content: var(--domain);
  visibility: visible;
}
