.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.errorImage {
  max-width: 100%;
  width: 100vw;
  object-fit: cover;
  height: 100vh;
}

.footer {
  width: 100%;
  max-width: 1100px;
  margin: auto auto 0;
  padding: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 80%;
  padding: 0.5em;
}

.social {
  user-select: none;
  display: flex;
  gap: 8px;
}

.asideContainer {
  margin-left: 8px;
}

.asideContainer .social {
  flex-direction: column;
}

.social a {
  color: inherit;
  cursor: pointer;
  font-size: 2em;
  display: inline-flex;
  padding: 0.25em;
  transition: color 250ms ease-out;
}

.social a:last-of-type {
  margin-right: 0;
}

.social a:hover {
  transition: color 50ms ease-out;
}

.rss:hover {
  color: #d17d01;
}

.github:hover {
  color: #070201;
}

.linkedin:hover {
  color: #0077b5;
}
